<h2>Сatalogs:</h2>
<hr />
<a asp-action="Index" asp-controller="Directory">1</a>

<div class="text-end">
    <form asp-controller="" asp-action="">
        <button class="btn btn-primary">Add</button>
    </form>

</div>