<h2 class="text-center">Incorrect path to the Directory</h2>
<i>The path you were using for getting the directory was not correct. Please check the path</i>
<hr />
<div class="text-md-end">
    <a asp-action="HomePage" asp-controller="Directory" class="btn btn-primary">OK</a>
</div>
